cdns_internal_workspacedb
shared_ws
workspace/config
workspace/log
workspace/projects
workspace/upload
workspace/Template.json
workspace/libraries/footprints/*.tag
workspace/libraries/footprints/*.log
workspace/libraries/footprints/*.jrl
workspace/libraries/footprints/*.log*
workspace/libraries/footprints/*.jrl*